  <% cache product do %>
    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
      <div class="product-box">
        <a href="#">
          <%= image_tag(product.image_url, class: "img-responsive") if product.image_url %>
        </a>
        <div class="product-box-description">
          <h3><%= product.name %></h3>
          <h4><%= product.description %></h4>
          <p><%= product.colour %></p>
          <strong><%= product.price %></strong><br>
          <td><%= link_to 'Show', product, class: "btn btn-success btn-xs btn-clear" %></td>
          <% if current_user && current_user.admin? %>
            <td><%= link_to 'Edit', edit_product_path(product), class: "btn btn-default btn-xs btn-clear" %></td>
            <td><%= link_to 'Destroy', product, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger btn-xs btn-clear" %></td>
          <% end %>
        </div><!-- end box-description -->
      </div><!-- end product-box -->
    </div><!-- end col -->
  <% end %>